# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserdatad
*.xcworkspace

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# VSCode (optional)
.vscode/*
!.vscode/settings.json

buildServer.json
